
{{ define "title"}}

<title>ORE Open Roster</title>

{{ end }}

{{define "content"}}

<div class="container">

<div class="row">

<div class="col-sm-12 col-md-12 col-lg-12">

  <h3>Digital Academy Foundations</h3>

<p>Foundations presents the digital transformation of the Canadian government and its services in human terms because digital transformation is fundamentally cultural. The focus of the foundational learning offerings are designed to build awareness of possibilities, increase confidence and capacity of government employees who are navigating the impacts of digital on their world. Additionally, digital foundations piques the interest to learn more through curated and personalized learning opportunities.</p>
 
<h4>Outcomes:</h4>
<ul>
<li>Public servants (learners) engage in new ways of thinking about themselves, their work and the role of government in providing better services to citizens;</li>
<li>Learners improve their knowledge and skills through easy to consume, timely and relevant content related to digital in government</li>
<li>Learners improve their understanding of digital through connections to deeper learning activities</li>
</ul>
<hr>
<a class="btn btn-primary" href="/signup/" >Join Us</a>
</div>
</div>
</div>

{{ end }}
