{{ define "title"}}

<title>Add first experience</title>

{{ end }}

{{define "content"}}
{{ $user := .User }}

      <div class="container">
        <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center">Adding your first learning experience</h3>
        <hr>
        <p>Great work {{ $user.UserName }}. You're ready to roll.</p>
        <p>Now we'll walk you through adding your first learning experience.</p>
        <p>First <strong>copy a link</strong> to a book, podcast, video or course you've taken. Anything is fine. You can use the link below if you're stuck.</p>
        <p class="text-center" style="color: blue">https://en.busrides-trajetsenbus.ca/episode-2/</p>

        <p>Then, <strong>click "Tell us about it"</strong>, below and <strong>select the verb</strong> that best describes the type of learning.</p>

        <div class="row">

                <div class="col-sm-0 col-md-1 col-lg-2"></div>
            
            <div class="col-sm-12 col-md-10 col-lg-8 rounded" style="border-style:solid; border-width:1px; color: gray">
            
            <br>
            <h4 class="text-center">Learned something cool? <a class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapseTarget" aria-expanded="false" aria-controls="collapseTarget">
                    Tell us about it.
            </a></h4>
            <hr>
            
            <!-- Tab links -->
            <div class="collapse text-center" id="collapseTarget">
              <a class="btn btn btn-primary" href="/add_experience/read/">Read</a> 
              <a class="btn btn btn-primary" href="/add_experience/watch/" >Watch</a> 
              <a class="btn btn btn-primary" href="/add_experience/listen/" >Listen</a> 
              <a class="btn btn btn-primary" href="/add_experience/participate/" >Participate</a> 
              <a class="btn btn btn-primary" href="/add_experience/practice/" >Practice</a> 
              <a class="btn btn btn-primary" href="/add_experience/study/" >Study</a>
              <a class="btn btn btn-primary" href="/add_experience/do/" >Do</a> 
            </div>
            
            
            </div> <!-- End Centre column -->
                <div class="col-sm-0 col-md-1 col-lg-2"></div>
            
            </div>

      </div>
    </div>

  </div>

{{end}}