{{ define "title"}}

<title>Create your Learner Profile</title>

{{ end }}

{{define "content"}}

{{ $user := .User}}
{{ $lp := $user.LearnerProfile}}
{{ $architecture := .Architecture }}
{{ $stringArray := .StringArray }}


      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Awesome work {{ $user.UserName }}!</h3>
            <h4>Please rate your current skill level and your learning targets.</h4>
            <hr>
            <form action="" method="POST">

                  
                  {{ range $k, $s := $user.Streams }}
                  <h3><strong>{{ $k }}</strong></h3>
                  <p>{{ $s.Description }}</p>
                  <hr>
                  <h5>How much do you know about {{ $k }}? How much do you want to learn in {{ $user.LearnerProfile.CurrentYear }}</h5>
                  <hr>
                  <h5>I know:</h5>

                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-success {{ if eq $s.Expertise 1 }}active{{ end }}">
                        <input type="radio" name="{{ $s.Name }}-Skill" value="1" id="option1" autocomplete="off" {{ if eq $s.Expertise 1 }}checked{{ end }}> A little
                      </label>
                      <label class="btn btn-success {{ if eq $s.Expertise 2 }}active{{ end }}">
                        <input type="radio" name="{{ $s.Name }}-Skill" value="2" id="option2" autocomplete="off" {{ if eq $s.Expertise 2 }}checked{{ end }}> Some
                      </label>
                      <label class="btn btn-success {{ if eq $s.Expertise 3 }}active{{ end }}">
                        <input type="radio" name="{{ $s.Name }}-Skill" value="3" id="option3" autocomplete="off" {{ if eq $s.Expertise 3 }}checked{{ end }}> Lots
                      </label>
                      <label class="btn btn-success {{ if eq $s.Expertise 4 }}active{{ end }}">
                          <input type="radio" name="{{ $s.Name }}-Skill" value="4" id="option4" autocomplete="off" {{ if eq $s.Expertise 4 }}checked{{ end }}> All things
                        </label>
                    </div>
                    <br><br>

                  <h5>In {{ $user.LearnerProfile.CurrentYear }}, I want to learn:</h5>

                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-success {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 1000 }}active{{ end }}">
                        <input type="radio" name="{{ $s.Name }}-Target" value="1000" id="option1" autocomplete="off" {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 1000 }}checked{{ end }}> A little
                      </label>
                      <label class="btn btn-success {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 5000 }}active{{ end }}">
                        <input type="radio" name="{{ $s.Name }}-Target" value="5000" id="option2" autocomplete="off" {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 5000 }}checked{{ end }}> Some
                      </label>
                      <label class="btn btn-success {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 10000 }}active{{ end }}">
                        <input type="radio" name="{{ $s.Name }}-Target" value="10000" id="option3" autocomplete="off" {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 10000 }}checked{{ end }}> Lots
                      </label>
                      <label class="btn btn-success {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 25000 }}active{{ end }}">
                          <input type="radio" name="{{ $s.Name }}-Target" value="25000" id="option4" autocomplete="off" {{ if eq (index $s.LearningTargets $user.LearnerProfile.CurrentYear 0) 25000 }}checked{{ end }}> All things
                        </label>
                    </div>

                    <br><hr>
                    <h5>Choose one or more practices to explore:</h5>
                    
                    <div class="btn-group-toggle" data-toggle="buttons">
                      
                      {{ range $stream := $architecture }}
                        {{ if eq $s.Name $stream.Name}}
                          {{ range $p := $stream.Practices }}
                            <label class="btn btn-{{ if isInString $stringArray $p.Name }}success active{{else}}success{{end}}">
                              <input type="checkbox" name="{{ $p.Name }}" autocomplete="off" {{ if isInString $stringArray $p.Name }}checked{{end}}> {{ $p.Name }}
                            </label>
                          {{ end }} <!-- End practice range -->
                        {{ end }} <!-- End if-->
                      {{ end }} <!-- End architecture Stream range-->
                    </div>
                    <hr>
                    {{ end }} <!-- End master loop -->

              <button class="btn btn-primary" type="submit" value="Save">Save your preferences</button>

            </div>

          </form>
            
            <hr>
    </div>
      </div>
      
{{end}}