{{ define "title"}}

<title>Add first experience</title>

{{ end }}

{{define "content"}}
{{ $user := .User }}

      <div class="container">
        <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center">Adding your first learning experience</h3>
        <hr>
        <p>Great work {{ $user.UserName }}. You're ready to roll.</p>
        <p>Now we'll walk you through adding your first learning experience.</p>
        <p>First <strong>copy a link</strong> to a book, podcast, video or course you've taken. Anything is fine.</p>
        <p>Then, <strong>click "Tell us about it"</strong> above
            and <strong>select the verb</strong> that best describes the type of learning.</p>
      </div>
    </div>

  </div>

{{end}}