{{ define "title"}}

<title>Add Experience to Learning Profile</title>

{{ end }}

{{define "content"}}

{{ $e := .Experience}}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">Learning experiences happen everywhere. Tell us about yours.</h3>
            <form action="" method="POST">
              <hr>
              
                <div class="form-group">
                  <label class="form-group-text" id="LearningResource.Path-addon">Where can you find your learning experience?</label>
                  <input type="url" class="form-control" aria-describedby="LearningResource.Path" name="LearningResource.Path" placeholder="Paste your URL here..." required>
                </div>
              
                <label>How would you describe the learning experience?</label>
              <label>Choose as many tags as you need.</label>

              <div class="btn-group-toggle text-center" data-toggle="buttons">
              {{ range $s := .StringArray }}
              <label class="btn btn-success">
                  <input type="checkbox" name="{{ $s }}" autocomplete="off"> {{ $s }}
              </label>
              {{ end }}
            </div>
            <hr>

              <div class="form-group">
                    <label class="form-group-text text-center" data-toggle="buttons" id="Stream-addon">What digital stream does this belong to?</label><br>
                    {{ range $s := .Architecture }}
                    <label class="btn btn-success">
                        <input type="radio" name="Stream.Name" value="{{ $s.Name }}" autocomplete="off" required> {{ $s.Name }}
                    </label>
                    {{ end }}
              </div>
              <hr>
              
             <div class="form-group">
               <label>How long did it take?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Time" id="timeRadios1" value="1" checked>
                    <label class="form-check-label" for="timeRadios1">
                      A few minutes
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Time" id="timeRadios2" value="2">
                    <label class="form-check-label" for="timeRadios2">
                      30 - 60 minutes
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Time" id="timeRadios3" value="3">
                    <label class="form-check-label" for="timeRadios3">
                      A few hours
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Time" id="timeRadios4" value="4">
                    <label class="form-check-label" for="timeRadios4">
                      A few days
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Time" id="timeRadios5" value="5">
                    <label class="form-check-label" for="timeRadios5">
                      Weeks
                    </label>
                </div>
              </div>
              <hr>

              <div class="form-group">
                  <label>How valuable was it?</label>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="Value" id="valueRadios1" value="1" checked>
                       <label class="form-check-label" for="valueRadios1">
                         Little value
                       </label>
                   </div>
   
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="Value" id="valueRadios2" value="2">
                       <label class="form-check-label" for="valueRadios2">
                         Pretty useful
                       </label>
                   </div>
   
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="Value" id="valueRadios3" value="3">
                       <label class="form-check-label" for="valueRadios3">
                         Solid learning
                       </label>
                   </div>
   
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="Value" id="valueRadios4" value="4">
                       <label class="form-check-label" for="valueRadios4">
                         Very good content
                       </label>
                   </div>
   
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="Value" id="valueRadios5" value="5">
                       <label class="form-check-label" for="valueRadios5">
                          Amazing learning experience
                       </label>
                   </div>
                 </div>
                 <hr>

                 <div class="form-group">
                    <label>How difficult was it?</label>
                     <div class="form-check">
                         <input class="form-check-input" type="radio" name="Difficulty" id="difficultyRadios1" value="1" checked>
                         <label class="form-check-label" for="difficultyRadios1">
                           Easy
                         </label>
                     </div>
     
                     <div class="form-check">
                         <input class="form-check-input" type="radio" name="Difficulty" id="difficultyRadios2" value="2">
                         <label class="form-check-label" for="difficultyRadios2">
                           Some tricky concepts
                         </label>
                     </div>
     
                     <div class="form-check">
                         <input class="form-check-input" type="radio" name="Difficulty" id="difficultyRadios3" value="3">
                         <label class="form-check-label" for="difficultyRadios3">
                           Moderately difficult
                         </label>
                     </div>
     
                     <div class="form-check">
                         <input class="form-check-input" type="radio" name="Difficulty" id="difficultyRadios4" value="4">
                         <label class="form-check-label" for="difficultyRadios4">
                           Advanced
                         </label>
                     </div>
     
                     <div class="form-check">
                         <input class="form-check-input" type="radio" name="Difficulty" id="difficultyRadios5" value="5">
                         <label class="form-check-label" for="difficultyRadios5">
                            My brain hurts!
                         </label>
                     </div>
                   </div>
                   <hr>

            <p>If you want, you can add one or more personal tags to describe your experience. This will help us give you better suggestions later.</p>

            <div class="form-row">
            <div class="col">
              <label class="form-group-text" id="Tags-addon">Tag 1</label>
              <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" placeholder="Enter tag here">
            </div>

            <div class="col">
              <label class="form-group-text" id="Tags-addon">Tag 2</label>
              <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" placeholder="Enter tag here">
            </div>

            <div class="col">
              <label class="form-group-text" id="Tags-addon">Tag 3</label>
              <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" placeholder="Enter tag here">
            </div>
            </div>
            <br>

              <button class="btn btn-primary" type="submit" value="Save">Record Experience</button>

            </div>

            
            <hr>
    </form>
    </div>
      </div>
{{end}}