{{ define "title"}}

<title>Create Episode - Homeland </title>

{{ end }}

{{define "content"}}

{{ $episode := .Episode}}

{{ $counter := .Counter }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>New Episode Form</h3>
            <p>Fill in the fields below to create your episode</p>
            <form action="" method="POST" enctype="multipart/form-data">

              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" id="name-addon">Title</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Title" value ="{{ $episode.Title }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="SubTitle-addon">SubTitle</span>
                </div>
                <input type="text" class="form-control" aria-describedby="SubTitle-addon" name="SubTitle" value ="{{ $episode.SubTitle }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Tagline-addon">Tagline</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tagline-addon" name="Tagline" value ="{{ $episode.Tagline }}">
              </div>

              <hr>

                <label for="Body">Body</label>
                <textarea class="form-control" aria-describedby="Body-addon" name="Body" rows="50" value ="{{ $episode.Body }}">{{ $episode.Body }}</textarea>

              <hr>

              <label for="Image">Primary Image</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" name="ImagePath" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                  <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                </div>
              </div>

              <hr>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Videos.0.Title-addon">Videos.0.Title</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Videos.0.Title-addon" name="Videos.0.Title" value ="">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Videos.0.Description-addon">Videos.0.Description</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Videos.0.Description-addon" name="Videos.0.Description" value ="">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Videos.0.Path-addon">Videos.0.URL</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Videos.0.Path-addon" name="Videos.0.Path" value ="">
              </div>



              <hr>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Tags-addon">Tag 1</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" value ="">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Tags-addon">Tags 2</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" value ="">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Tags-addon">Tags 3</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" value ="">
              </div>

             <hr>
              <button class="brn btn-primary" type="submit" value="Save">Save</button>

            </div>

            
            <hr>
    </form>
    </div>
      </div>
{{end}}