{{ define "title"}}

<title>Add Experience to Learning Profile</title>

{{ end }}

{{define "content"}}

{{ $e := .Experience}}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>New Experience Form</h3>
            <p>Please fill in the fields below to record your experience</p>
            <form action="" method="POST">

              
                <div class="input-group">
                    <div class="input-group-prepend">
                  <span class="input-group-text" id="LearningResource.Path-addon">URL</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="LearningResource.Path-addon" name="LearningResource.Path" value ="">
                </div>
              

              <hr>
              <h4>Details</h4>
              <!--
                <div class="input-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text" id="Title-addon">Title</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="Title-addon" name="LearningResource.Title" value ="">
                </div>
              -->

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Comments-addon">Comments</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Comments-addon" name="Comments" value ="">
              </div>

              <hr>
              <h4>Learning Architecture Links</h4>
              <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Stream-addon">Category</span>
                </div>
                  <select type="text" class="form-control" id="Stream" name="Stream.Name" required>
                    {{ range $s := .Architecture }}
                      <option>{{ $s.Name }}</option>
                    {{ end }}
                  </select>
              </div>

              <hr>
              
             <h4>Ratings</h4>
             <p>Please enter ratings of 1-5 for your learning experience. This will let us make better recommendations to other people as well as calculate your progress.</p>

             <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Time-addon">Time Spent/Required</span>
                    </div>
                    <select type="number" class="form-control" id="Time" name="Time" required>
                      <option value="1">1: A few minutes</option>
                      <option value="2">2: 30 - 60 mins</option>
                      <option value="3">3: a few hours</option>
                      <option value="4">4: a few days</option>
                      <option value="5">5: multi-week</option>
                    </select>             </div>

                  <hr>

                  <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="Value-addon">Value</span>
                        </div>
                        <select type="number" class="form-control" id="Value" name="Value" required>
                          <option value="1">1: Little value</option>
                          <option value="2">2: Pretty useful</option>
                          <option value="3">3: Solid learning</option>
                          <option value="4">4: A lot of useful content</option>
                          <option value="5">5: Amazing learning experience</option>
                        </select> 
                      </div>

                      <hr>

                      <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="Difficulty-addon">Difficulty of Material</span>
                            </div>
                            <select type="number" class="form-control" id="Difficulty" name="Difficulty" required>
                              <option value="1">1: Easy</option>
                              <option value="2">2: Some tricky concepts</option>
                              <option value="3">3: Moderately difficult</option>
                              <option value="4">4: Advanced</option>
                              <option value="5">5: Highly advanced</option>
                            </select>                      
                          </div>

            <hr>
            <h4>Tags</h4>
            <p>Add personal tags to describe your experience.</p>

            <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text" id="Tags-addon">Tag 1</span>
              </div>
              <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" value ="">
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text" id="Tags-addon">Tags 2</span>
              </div>
              <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" value ="">
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text" id="Tags-addon">Tags 3</span>
              </div>
              <input type="text" class="form-control" aria-describedby="Tags-addon" name="Tags" value ="">
            </div>

            <hr>

              <button class="brn btn-primary" type="submit" value="Save">Record Experience</button>

            </div>

            
            <hr>
    </form>
    </div>
      </div>
{{end}}