{{ define "title"}}

{{ $episode := .Episode }}

<title>Delete {{ $episode.Title }}</title>

{{ end }}

{{define "content"}}

{{ $episode := .Episode }}


      <div class="container">
        <h1>DELETE {{ $episode.Title }}</h1>
        <div class="row">

         <div class="col-sm-0 col-md-1 col-lg-2"></div>

          <div class="col-sm-12 col-md-10 col-lg-8">
            <h3>{{ $episode.Title }}</h3>
            <img class ="card-img-top" data-src="" alt="Thumbnail"
            style="width: 100%; display: block;" src="https://s3.amazonaws.com/foundationsapp{{ .Episode.Image.Path }}"
            data-holder-rendered="true">
            <hr>
            {{ $episode.Tagline }}
            <form action="" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            <a href="/view_episode/{{ .Episode.ID }}" class="btn btn-primary">Return to Episode</a>
          </div>

          <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
      </div>
{{end}}
