{{ define "title"}}

{{ $user := .User }}

<title>View {{ $user.UserName }}</title>

{{ end }}

{{define "content"}}

{{ $user := .User }}
{{ $experiences := .Experiences}}


    {{ $user.UserName }}
    {{ $user.Email}}

    <hr>

    <h4>Experiences</h4>
    {{ range $e := $experiences }}
        <p>{{ $e }} | <a href="{{ $e.LearningResource.Path }}">Link</a></p>
        <p>Value: {{ $e.Value }}, Time Required: {{ $e.Time }}, Difficulty: {{ $e.Difficulty }} | 
        <a class="btn btn-sm btn-info" href="/delete_experience/{{ $e.ID }}">X</a>
        </p>
        <hr>
    {{ end }}

    <h4>Learning Resources Logged</h4>
    {{ range $lr := .LearningResources }}
        <p>{{ $lr }} | <a href="{{ $lr.Path}}">Link</a></p>
        Tags: {{ range $tag := $lr.Tags }}{{ $tag }} | {{ end }}
        <hr>
    {{ end }}
{{ end }}