{{ define "title"}}

<title>Modify Episode {{ .Episode.Title }} </title>

{{ end }}

{{define "content"}}

{{ $episode := .Episode}}

{{ $counter := .Counter }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Modify Episode {{ $episode.Title }}</h3>
            <p>Edit the fields below to update your episode</p>
            <form action="" method="POST" enctype="multipart/form-data">

              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" id="name-addon">Title</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Title" value ="{{ $episode.Title }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="SubTitle-addon">SubTitle</span>
                </div>
                <input type="text" class="form-control" aria-describedby="SubTitle-addon" name="SubTitle" value ="{{ $episode.SubTitle }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Tagline-addon">Tagline</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tagline-addon" name="Tagline" value ="{{ $episode.Tagline }}">
              </div>

              <hr>

                <label for="Body">Body</label>
                <textarea class="form-control" aria-describedby="Body-addon" name="Body" rows="50" value ="{{ $episode.Body }}">{{ $episode.Body }}</textarea>

              <hr>

              <label for="Image">Primary Image</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" name="Image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                  <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                </div>
              </div>

              <hr>

              {{ range $i, $video := $episode.Videos }}
              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Videos{{ $i }}.Title-addon">Videos{{ $i }}.Title</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Videos{{ $i }}.Title-addon" name="Videos{{ $i }}.Title" value ="{{ $video.Title }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Videos.{{ $i }}.Description-addon">Videos.{{ $i }}.Description</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Videos.{{ $i }}.Description-addon" name="Videos.{{ $i }}.Description" value ="{{ $video.Description }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Videos.{{ $i }}.Path-addon">Videos.0.URL</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Videos.{{ $i }}.Path-addon" name="Videos.{{ $i }}.Path" value ="{{ $video.Path }}">
              </div>

              <hr>

              {{ end }} <!-- End Videos -->

              {{ range $i, $tag := $episode.Tags }}

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Tags.{{ $i }}-addon">Tags.{{ $i }}</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tags.{{ $i }}-addon" name="Tags.{{ $i }}" value ="{{ $tag }}">
              </div>

              {{ end }}

             <hr>
              <button class="brn btn-primary" type="submit" value="Save">Save</button>

            </div>

            
            <hr>
    </form>
    </div>
      </div>
{{end}}