
{{define "userframe"}}

<div class="container">

<div class="row">

    <div class="col-sm-0 col-md-1 col-lg-2"></div>

<div class="col-sm-12 col-md-10 col-lg-8" style="border-style:solid; border-width:1px">

<br>
<h4 class="text-center">Learned something cool? <a class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapseTarget" aria-expanded="false" aria-controls="collapseTarget">
        Tell us about it.
</a></h4>
<hr>

<!-- Tab links -->
<div class="collapse text-center" id="collapseTarget">
  <a class="btn btn btn-primary" href="/add_experience/read/"><span><i class="fa fa-book"></i></span>Read</a> 
  <a class="btn btn btn-primary" href="/add_experience/watch/" >Watch</a> 
  <a class="btn btn btn-primary" href="/add_experience/listen/" >Listen</a> 
  <a class="btn btn btn-primary" href="/add_experience/participated/" >Participate</a> 
  <a class="btn btn btn-primary" href="/add_experience/practiced/" >Practice</a> 
  <a class="btn btn btn-primary" href="/add_experience/studied/" >Study</a>
  <a class="btn btn btn-primary" href="/add_experience/did/" >Do</a> 
</div>


</div> <!-- End Centre column -->
    <div class="col-sm-0 col-md-1 col-lg-2"></div>

</div>
</div>

{{ end }}