{{ define "title"}}

<title>User Index</title>

{{ end }}

{{define "content"}}

      <div class="container">
        <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3>User Admin</h3>
        <table style="width:100%">
            <tr>
                <th>UserName</th>
                <th>Admin</th>
                <th>Email</th>
                <th>Streams</th>
                <th>Points</th>
                <th>Link</th>
                <th>Make Admin</th>
                <th>Delete</th>

            </tr>
            {{ range .Users }}
            <tr>
                <td>{{ .UserName }}</td>
                <td>{{if .IsAdmin }}True{{end}}</td>
                <td>{{ .Email }}</td>
                <td></td>
                <td></td>
                <td><a href="/user_view/{{ .ID }}">Link</a></td>
                <td>{{ if not .IsAdmin }}<a href="/make_admin/{{ .ID }}">Make Admin</a>{{ else }}Admin{{end}}</td>
                <td><a href="/delete_user/{{ .ID }}">Delete</a></td>
            </tr>
            {{ end }}
        </table>
      </div>
    </div>

  </div>

{{end}}