
{{define "userframe"}}

<style>
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

</style>

<div class="container">

<div class="row">

    <div class="col-sm-0 col-md-1 col-lg-2"></div>

<div class="col-sm-12 col-md-10 col-lg-8" style="border-style:solid; border-width:1px">

<br>
<h4>Learned something cool? Tell us about it.</h4>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Book')">Book</button>
  <button class="tablinks" onclick="openTab(event, 'Video')">Video</button>
  <button class="tablinks" onclick="openTab(event, 'Podcast')">Podcast</button>
  <button class="tablinks" onclick="openTab(event, 'Course')">Course</button>
  <button class="tablinks" onclick="openTab(event, 'Social')">Social</button>
</div>

<form action="" method="POST" enctype="multipart/form-data">

<!-- Tab content -->
<div id="Book" class="tabcontent" active>
  <h4>Log your book here</h4>
  
<div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Experience.Verb-addon">Experience URL</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Experience.Verb-addon" name="Experience.Verb" value ="">
    </div>
<br>
<a class="btn btn-primary" href="/log_experience/" >Log Experience</a>
</div>

<div id="Video" class="tabcontent">
<br>
  <h4>Log your video here</h4>
    <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Experience.Verb-addon">Experience URL</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Experience.Verb-addon" name="Experience.Verb" value ="">
    </div>
<br>
<a class="btn btn-primary" href="/log_experience/" >Log Experience</a>
</div>

<div id="Podcast" class="tabcontent">
<br>
  <h4>Log your podcast here</h4>
<div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Experience.Verb-addon">Experience URL</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Experience.Verb-addon" name="Experience.Verb" value ="">
    </div>
<br>
<a class="btn btn-primary" href="/log_experience/" >Log Experience</a>
</div>

<div id="Course" class="tabcontent">
<br>
  <h4>Log your course here</h4>
<div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Experience.Verb-addon">Experience URL</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Experience.Verb-addon" name="Experience.Verb" value ="">
    </div>
<br>
<a class="btn btn-primary" href="/log_experience/" >Log Experience</a>
</div>

<div id="Social" class="tabcontent">
<br>
  <h4>Log your meetup, meeting or discussion here</h4>
<div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="Experience.Verb-addon">Experience URL</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Experience.Verb-addon" name="Experience.Verb" value ="">
    </div>
<br>
<a class="btn btn-primary" href="/log_experience/" >Log Experience</a>
</div>

</form>
<br>
</div> <!-- End Centre column -->
    <div class="col-sm-0 col-md-1 col-lg-2"></div>

</div>
</div>

<script>

function openTab(evt, learningType) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(learningType).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>

{{ end }}