
{{define "userframe"}}

<div class="container">

<div class="row">

    <div class="col-sm-0 col-md-1 col-lg-2"></div>

<div class="col-sm-12 col-md-10 col-lg-8" style="border-style:solid; border-width:1px">

<br>
<h4>Learned something cool? Tell us about it. <strong>I...</strong></h4>
<hr>

<!-- Tab links -->
  <a class="btn btn-sm btn-primary" href="/add_experience/read/">Read</a> 
  <a class="btn btn-sm btn-primary" href="/add_experience/watch/" >Watched</a> 
  <a class="btn btn-sm btn-primary" href="/add_experience/listen/" >Listened</a> 
  <a class="btn btn-sm btn-primary" href="/add_experience/participated/" >Participated</a> 
  <a class="btn btn-sm btn-primary" href="/add_experience/practiced/" >Practiced</a> 
  <a class="btn btn-sm btn-primary" href="/add_experience/studied/" >Studied</a> 
  <br>
  <br>

</div> <!-- End Centre column -->
    <div class="col-sm-0 col-md-1 col-lg-2"></div>

</div>
</div>

{{ end }}