{{ define "title"}}

<title>Learning Stream: {{.Stream.Name }}</title>

{{ end }}

{{define "content"}}

{{ $user := .User}}
{{ $stream := .Stream }}
{{ $experiences := .Experiences }}
{{ $fontMap := .StringMap }}


      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              
                <section>
                        <div class="container py-3">
                          <div class="card">
                            <div class="row ">
                              <div class="col-md-4">
                                    <img data-src="" alt="Thumbnail"
                                    style="width: 100%; display: block;" src="{{ $stream.Image.Path }}"
                                    >   
                              </div>
                                <div class="col-md-8 px-3">
                                  <div class="card-block px-3">
                                    <h4 class="card-title">{{ $stream.Name }}</h4>
                                    <p class="card-text">{{ $stream.Description }}</p>
                                  </div>
                                </div>
                                <div class="col-md-12 px-3">
                                    <div class="card-text px-3">
                                        <hr>
                                        <p>Practices include: </p>
                                        <div class="btn-group-toggle text-center" data-toggle="buttons">
                          
                                                {{ range $p := $stream.Practices }}
                                                  <a href="#">{{ $p.Name }}</a> | 
                                                {{ end }} <!-- End practice range -->
                        
                                            </div>
                                        <hr>
                                        <a href="#" class="btn btn-primary">Read More</a>
                                        {{ if ne .SessionUser ""}}
                                        <a class="btn btn-primary" href="/add_stream/{{ $stream.Slug }}">Add Stream</a>
                                        {{ end }}
                                    </div>
                                  </div>
                                </div>
                      
                              </div>
                            </div>
                          </div>
                      </section>
                 
            <hr>
                    <section>

                        <h3>Experiences</h3>
                        <p>These are the experiences that other learners have tracked in the {{ $stream.Name }} stream.</p>
                        <div class="row">
                        {{ range $e := $experiences }}
                          {{ if $e.LearningResource }}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                        <div class="card-body"></a>
                            <h5 class="card-title">{{ noEscape (index $fontMap $e.Verb) }} {{ $e.LearningResource.Title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ $e.Stream.Name }} > {{ range $p := $e.Practices }}{{ $p.Name }} | {{ end }}</h6>
                            <p>{{ $e.UserName }}</p>
                            <hr>
                            <p class="card-text">
                                Value: {{ $e.Value }}<br> 
                                Time: {{ $e.Time }}<br>
                                Difficulty: {{ $e.Difficulty }}<br>
                                {{ if $e.Comments }}Comments: {{ sliceFormat $e.Comments }}<br>{{ end }}
                                {{ if $e.Tags }}Tags: {{ sliceFormat $e.Tags }}{{ end }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a class="btn btn-sm btn-primary"
                                href="{{ $e.LearningResource.Path }}">View</a>
                                    <a class="btn btn-sm btn-danger" href="/delete_experience/{{ $e.ID }}">Delete</a>
                              </div>
                            </div>
                          </div>
                          </div>
                        </div>
                        {{ end }} <!-- End if LearningResource -->
                        {{ end }} <!-- End Loop -->
                          </div>
                    </section>
            </div>
            
            <hr>
    </div>
      </div>
      
{{end}}